@model IndexVM

@{
    ViewBag.Title = "Employees List";
}

<ul>
    @foreach (IndexVM.EmployeeItemVM employee in Model.employeeList)
    {
        <li
>
        <a asp-controller="Employees" asp-action="Details" asp-route-id="@employee.Id" class="@(employee.ShowAsHighlighted ? " bg-danger text-dark" : "") ">@employee.Name</a>
        </li>
    }
</ul>